/* Language select */
select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color: #284156;
    background-repeat: no-repeat;
    background-position: right 5px top 12px;
    background-size: 16px 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    width:auto;
    font-size: 0.9em;
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -moz-appearance: none;
}

select:focus, select:active {
    border: 0;
    outline: 0;
}

/* Content textarea */
.card {
    border-radius: 5px;
    background-color: #284156;
    border: 1px solid #C3C3C3;
}
.cardMain {
    padding: 1px;
    border-bottom: 5px solid #284156;
}

.cardFooter {
    background-color: #FFFFFF;
    border-radius: 4px;
    border-top: 4px solid #284156;
    line-height: 3em;
    text-align: center;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardFooter textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border-color: #C3C3C3;
    font-size: 0.8em;
    font-weight: 100;
    resize: none;
}

.card .cardMain label {
    text-align: center;
    display: block;
    padding-top: 10px;
    background-color: #274156;
}

.card .cardMain label h3 {
    color: #fbfcff;
    text-transform: capitalize;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.card img {
    padding-top: 10px;
    width: 20px;
    cursor: pointer;
    position: absolute;
}

.card img.remove {
    padding-left: 5px;
}

.card img.add {
    right: 25px;
}

.card img:hover {
    opacity: 0.8;
}

/* Media queries */

@media screen and (min-width: 701px) {
    form {
        margin-bottom: 5%;
    }

    .card {
        margin-bottom: 4%;
    }
}
@media screen and (max-width: 700px) {
    form {
        margin-bottom: 10%;
    }

    .card {
        margin-bottom: 7%;
    }
}

