/* Language select */
select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color: #284156;
    background-repeat: no-repeat;
    background-position: right 5px top 12px;
    background-size: 16px 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 30px;
    width:auto;
    font-size: 16px;
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -moz-appearance: none;
}

hr {
    border-top: 2px solid #d9d9d9;
}

select:focus, select:active {
    border: 0;
    outline: 0;
}

.card {
    border-radius: 5px;
    background-color: #284156;
    border: 1px solid #C3C3C3;
}
.cardMain {
    padding: 1px;
    border-bottom: 5px solid #284156;
}

.cardFooterLatestPost {
    background-color: #FFFFFF;
    border-radius: 4px;
    border-top: 4px solid #284156;
    line-height: 3em;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.gettingStarted {
    line-height: 1.5em;
    padding-bottom: 10px;
    overflow: hidden;
}

.card .cardMain label {
    text-align: center;
    display: block;
    padding-top: 10px;
    background-color: #274156;
}

.card .cardMain label h3 {
    color: #fbfcff;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

.lastModified {
    line-height: 1em;
    margin-bottom: 10px;
    margin-top: 5px;
}

.lastModifiedHeadline {
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 10px;
    margin-top: 5px;
}

.headlineLatestPost {
    line-height: 1em;
    margin-bottom: 10px;
    margin-top: 5px;
}

.postLatestPost {
    line-height: 1em;
    text-align: justify;
    margin-bottom: 10px;
    font-weight: 100;
}

.dateLatestPost {
    line-height: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 100;
}

.linkLatestPost {
    line-height: 1em;
    padding-bottom: 10px;
    font-size: 0.8em;
    text-overflow: ellipsis;
    overflow: hidden;
}

div a {
    color: #000000;
    text-decoration: underline;
}

div.headlineLatestPost a {
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 10% 10%;
}

/* Media queries */

@media screen and (min-width: 701px) {
    form {
        margin-bottom: 5%;
    }
    .card {
        margin-bottom: 4%;
    }
    .lastModifiedSites {
        grid-column: span 1
    }
    .lastModifiedPosts {
        grid-column: span 1;
    }
}
@media screen and (max-width: 700px) {
    form {
        margin-bottom: 10%;
    }
    .card {
        margin-bottom: 7%;
    }
    .lastModifiedSites {
        grid-column: span 2;
    }
    .lastModifiedPosts {
        grid-column: span 2;
    }
    .gettingStarted {
        line-height: 1.4em;
    }
}

