body {
    background-color: #D9D9D9;
    overflow: auto;
    height: 100%;
    margin: 0;
}

.main {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 5%;
}

#logo {
    border-radius: 250em;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.card {
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #C3C3C3;
}
.cardMain {
    padding: 30px;
    border-bottom: 5px solid #FFFFFF;
}

.cardFooter {
    background-color: #ECECEC;
    border-radius: 5px;
    border-top: 5px solid #FFFFFF;
    line-height: 3em;
    text-align: center;
}

.cardFooter a {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 0.65em;
    font-weight: 100;
    color: #8A8A8A;
}

.main > div {
    display: table-cell;
    vertical-align: middle;
}

.wrapper {
    max-width: 360px;
    margin: 0 auto;
}

#inputId {
    display: none;
}

input {
    display: block;
}
.formGroup input {
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #C3C3C3;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 100;
}

input[type="text"]:focus, input[type="password"]:focus {
    box-shadow: none;
    outline: none;
    border-color: #274156;
}

::placeholder {
    color: #C3C3C3;
    opacity: 1;
    transition: ease-in-out 0.7s;
}

input[type="text"]:focus::placeholder, input[type="password"]:focus::placeholder {
    color: #FFFFFF;
}

.formGroup button {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    background-color: #274156;
    border: 1px solid #1D3040;
    color: #FFFFFF;
    font-size: 0.9em;
    margin-bottom: 5%;
    font-weight: 100;
}

.formGroup button:hover {
    background-color: #506576;
    border: 1px solid #294257;
}

.prompt {
    font-family: sans-serif;
    text-align: justify;
}

.errorMessage {
    font-family: sans-serif;
}
