table.userTable {
    width: 100%;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #C3C3C3;
    margin-bottom: 5%;
}

th, td {
    padding: 10px 10px 10px 15px;
    text-align: left;
}

td:nth-child(2) {
    max-width: 20px;
}

th:first-child {
    border-top-left-radius: 4px;
}

th:last-child {
    border-top-right-radius: 4px;
}

th {
    background-color: #274156;
    color: white;
    font-weight: 100;
}

td:last-child {
    min-width: 60px;
}

td:first-child {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr:first-child th {
    border-bottom: 0;
}

tr:first-child td {
    border-bottom: 0;
}

tr:last-child th {
    border-bottom: 0;
}

tr:last-child td {
    border-bottom: 0;
}

.userTable button {
    padding: 10px;
    font-weight: 100;
    border: 0;
    color: transparent;
    background-color: transparent;
    cursor: pointer;
}

.userTable button:hover {
    opacity: 0.8;
}

button.deleteUser {
    background-image: url("../../resources/img/delete_274156.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
}

button.changePassword {
    background-image: url("../../resources/img/changePassword.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 5px;
}

button.copyLink {
    background-image: url("../../resources/img/copyLink.svg");
    background-position: center;
    background-repeat: no-repeat;
}

button.activateUser {
    background-image: url("../../resources/img/addButton_274156.svg");
    background-position: center;
    background-repeat: no-repeat;
}

button.changeUserRole {
    background-image: url("../../resources/img/changeUserRole.svg");
    background-position: center;
    background-repeat: no-repeat;
}

select {
    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>");
    background-color: #636363;
    background-repeat: no-repeat;
    background-position: right 5px top 12px;
    background-size: 16px 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 30px;
    width: 50%;
    font-size: 0.9em;
    font-weight: 100;
    color: #FFFFFF;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -moz-appearance: none;
}

select#userRoleChange {
    width: 100%;
    margin-bottom: 10px;
}

.formGroupAddUser input {
    background-color: #FFFFFF;
    width: 50%;
    border-radius: 2px;
    border: 1px solid #C3C3C3;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 100;
    margin-left: auto;
    margin-right: auto;
}

.formGroupAddUser button {
    width: 50%;
    padding: 10px;
    border-radius: 2px;
    background-color: #274156;
    border: 1px solid #1D3040;
    color: #FFFFFF;
    font-size: 0.9em;
    margin-bottom: 25px;
    font-weight: 100;
}

.formGroupAddUser input#inputPwRepeat {
    margin-bottom: 6px;
}

.formGroupAddUser input#domainInput {
    margin-bottom: 6px;
}

.formGroupAddUser button:hover {
    opacity: 0.8;
}

.formGroupAddUser div {
    text-align: center;
}

.formGroupAddUser div:last-child {
    margin-bottom: 0;
}

.card {
    border-radius: 5px;
    background-color: #284156;
    border: 1px solid #C3C3C3;
}

.cardMainUsers {
    padding-top: 4px;
    border-bottom: 0;
}

.cardFooter {
    background-color: #FFFFFF;
    border-radius: 4px;
    border-top: 4px solid #284156;
    line-height: 3em;
    text-align: center;
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.cardFooterRegistrationLinks {
    padding-bottom: 10px;
}

.card h3 {
    text-align: center;
}

.card {
    margin-bottom: 5%;
}

.card .cardMainUsers label h3 {
    color: #fbfcff;
    text-transform: capitalize;
    font-weight: 100;
    padding: 5px;
    margin: 0;
}

table.userTable tbody tr th h3 {
    text-align: left;
    color: #fbfcff;
    text-transform: capitalize;
    font-weight: 100;
    margin: 0;
}

.registrationLink {
    line-height: 1em;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    margin-bottom: 10px;
}

input.domainLabel {
    border: 0;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 2px;
    color: black;
}

div#cardFooterRegistrationLink {
    padding-top: 15px
}

textarea {
    font-family: sans-serif;
    width: 100%;
    resize: none;
    border: 0;
}

#copyConfirmationInput {
    opacity: .01;
    height:0;
    position:absolute;
    z-index: -1;
}


/* Media queries */

@media screen and (max-width: 700px){
    form.form-user-deletion {
        display: block;
    }
    .formGroupAddUser input {
        width: 90%
    }
    .formGroupAddUser button {
        width: 90%;
    }
    .formGroupAddUser select {
        width: 90%;
    }
}

@media screen and (min-width: 701px) {
    form.form-user-deletion {
        display: inline;
    }
    textarea {
        font-size: 1em;
    }
}

